# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# CSV files
*.csv

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/

# HTML files
*.html
